* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;

}

.btn-primary {
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
}

/* Header Part Starts */
#header {
    height: 100vh;
    width: 100%;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-content {
    margin-right: 230px;
}

.content-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    padding-bottom: 20px;
    text-align: right;
}

.title-description {
    color: #FFFFFF;
    padding-bottom: 50px;
    line-height: 25px;
    text-align: right;
}

.header-btn {
    margin-left: 360px;
}

/* End Header Part */

/* Main Part Starts */
/* Previous year Part Starts */
#previous-year {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
}

.failure-header {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: #444343;
    padding-bottom: 20px;
}

.failure-description {
    line-height: 25px;
    color: #444343;
    margin-bottom: 15px;
}

.check-icon {
    height: 25px;
    width: 25px;
    display: block;
}

img {
    margin-top: 5px;
}

.check-parent {
    display: flex;
    gap: 4px;
}

.checked-info {
    padding-bottom: 14px;
}
/* End Previous Year Part */
/* Extra Section Starts */
#blogs-container{

}
.blogs-box1{
    height: 400px;
    width: 350px;
    padding: 10px;
    border: 1px solid #444343;
    border-radius: 10px;
    background-color: #dad2d2;
}
.blogs-box2{
    height: 400px;
    width: 350px;
    padding: 10px;
    border: 1px solid #444343;
    border-radius: 10px;
    background-color: rgb(180, 233, 233);
}
.blogs-box3{
    height: 400px;
    width: 350px;
    padding: 10px;
    border: 1px solid #444343;
    border-radius: 10px;
}
.blogs-img{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    margin-left: 100px;
}
.blogs-box-title{
    font-size: 30px;
    padding-bottom: 10px;
}
.blogs-description{
    line-height: 25px;
}
/* Extra Section End */
.my-plan-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    margin-top: 110px;
}

#plan-box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 260px 135px 260px;
}

.plan-box>h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.plan-box>p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}

.plan-box>img {
    padding-left: 45px;
}

.web-icon {
    margin-left: 50px;
}

/* My plans Complete */
/* Contact Banner Starts */
#contact-banner {
    margin: auto;
    height: 300px;
    width: 1140px;
    background-image: url("../images/watch.png"), linear-gradient(to left, rgba(3, 94, 169, 0.1), rgba(3, 94, 169, 1));
    background-blend-mode: overlay;
    border-radius: 10px;
    margin-bottom: 130px;
}

.contact-banner-title {
    padding: 60px 0px 24px 65px;
}

.contact-banner-title>h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: #FFFFFF;
    padding-bottom: 24px;
}
/* Contact Banner End */
/* Main Section End */

/* Footer Section Started */
#foot {
    width: 100%;
    height: 580px;
    background-color: #151414;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin: auto;
}

/* Footer left Side */
.footer-left {
    color: #FFFFFF;
    margin-top: 130px;
}

.footer-left-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 16px;
}

.footer-left-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

.mail-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}

.contact-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 8px;
}
.footer-left-icon{
    display: flex;
    gap: 10px;
}
.social-media-icon{
    height: 35px;
    width: 35px;
}
/* Footer Right Side */
.footer-right {
    color: #FFFFFF;
    margin-top: 130px;
}

.footer-right-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 20px;
}

#email {
    width: 325px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: #151414;
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 8px;
}

.footer-right-btn {
    width: 170.11px;
    height: 64px;
    left: 907px;
    top: 2924px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
    background-color: #005FAC;
    display: block;
}
/* End Footer Right */
